{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    
    {% if editar %}
        Actualizar usuario
    {% else %}
        Nuevo usuario
    {% endif %}
    editar = ()?'':'' 
{% endblock titulo %}

{% block contenido %}
  
<div class="card">
    <h5 class="card-header">
        {% if editar %}
            Actualizar usuario
        {% else %}
            Nuevo usuario
        {% endif %}
    </h5>
   
    <div class="card-body">
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form_user.as_p}}
            {{form.as_p}}
    </div>
    <div class="card-footer">
        <input class="btn btn-success" type="submit" 
        {% if editar %}
            value="Guardar"
        {% else %}
            value="Agregar"
        {% endif %}        
        >
        <a class="btn" href="{% url 'lista_usuarios' %}">Cancelar</a>
        </form>
    </div>
  </div>  
{% endblock contenido %}

{% block scripts %}
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/funciones.js' %}"></script>

{% endblock scripts %}
