{% extends 'base.html' %}

{% block titulo %}
    Lista de localidades
{% endblock titulo %}

{% block contenido %}
<h1>Lista de localidades</h1>
<a class="btn btn-success" href="{% url 'localidades:nueva' %}">Nueva</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for localidad in object_list %}
          <tr>
            <td>{{localidad.nombre}}</td>
            <td>{{localidad.descripcion}}</td>
            <td>
                <a class="btn btn-sm btn-danger" href="{% url 'localidades:eliminar' localidad.id %}">Eliminar</a>
                <a class="btn btn-sm btn-primary" href="{% url 'localidades:editar' localidad.id %}">Editar</a>
                <a class="btn btn-sm btn-warning" href="{% url 'localidades:detalle' localidad.id %}">Detalle</a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock contenido %}