{% extends 'base.html' %}

{% block titulo %}
  Detalle de localidad
{% endblock titulo %}

{% block contenido %}
    <h1>Detalle localidad</h1>
    <hr>
    <br>
    <p>Nombre: <b>{{object.nombre}}</b></p>
    <p>Descripción: <b>{{object.descripcion}}</b></p>
    <br>
    <hr>
    <a class="btn btn-primary" href="{% url 'localidades:lista' %}">Regresar</a>
{% endblock contenido %}

