<h1>Hola mundoooo!!!</h1>
<h2>{{nombre}} tu edad es {{edad}}</h2>
<h3>Lista de materias</h3>
<ul>
    {% for materia in materias  %}
        <li>{{materia}}</li>
    {% endfor %}
</ul>

<table>
    {% for materia in materias %}
    <tr>
        <td>
            {{materia}}
        </td>
    </tr>
    {% endfor %}
</table>
<h2>Calificaciones</h2>
<table>
    {% for calificacion in calificaciones %}
    <tr>
        <td>
            {{calificacion.id_materia}}
        </td>
        <td>
            {{calificacion.calif}}
        </td>
    </tr>
    {% endfor %}
</table>